body{
background-color: blue;
}
.parent{
 height:600px;
 padding: 5%;
 display: flex;
 background-color:yellow;
 justify-content:center;
 }
#game{
 padding: 5%;
 border-style: solid;
 border-color:black;
 border-width:2px;
 width: 40%;
 }
#snake_canvas{

  background-color:white;
  border:10px;
  border-color: black;
  border-radius: 10px;
  }
#play_game{
 	font-size: #snake_canvas.width/4;
 	width: 200;
 	height: 200;
 }
#hh{
 	color: black;
 	text-decoration: underline;
 	font-size: 40 ;
 }
.th{
 background-color:white;
 border : 2px;
 border-color: black;
}
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 300px;
      }

      /* Optional: Makes the sample page fill the window. */
    /*  html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }*/