{% extends 'base.html'%}
{% block content1 %}
     {% load static %}
      <div id="game" >
        <h1 id="hh">snake game</h1>
          <canvas id="snake_canvas" width="300" height="300">
          <img id="food" src="{% static 'fooddelivery/img/food.png'%}" >
          <img id="ground" src="{% static 'fooddelivery/img/ground.png'%}" >
            <audio id="sound" src="{%static 'fooddelivery/audio/S1.mp3'%}"></audio>
          </canvas>
          <button id="play_game" onclick="play_Game()"><img src="{% static 'fooddelivery/img/play.png'%}"></button>
         </div>
{%endblock%}